@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #033d78;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #557ca0;
    color: #fff;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background: #e7ecef;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
